<ul>
  <li class="attribute">
    <span><%= t( 'models.sport.attributes.title' ) %>: </span>
    <span><%= link_to sport.title, sport_path( sport.id ) %></span>
  </li>
  <li class="attribute">
    <span><%= t( 'models.sport.attributes.is_virtual') %>: </span>
    <span><%= humanize_boolean sport.is_virtual %></span>
  </li>
  <li> <%= link_to t( 'application.links.go_to_events' ), sport_events_path( sport.id ) %> </li>
</ul>
